.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;

  &-home-icon {
    margin-left: 0;
    grid-column-start: 1;
    text-align: left;
    color: blanchedalmond;
    font-size: 3rem;
    cursor: pointer;

    &:hover {
      color: darkslategrey;
    }

    .timer {
      margin-right: 0;
      grid-column-start: 2;
      text-align: right;
    }
  }
}

.quiz {
  display: grid;
  margin: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &-title {
    text-align: center;
    color: blanchedalmond;
    margin: 2rem;
  }

  &-ask {
    text-align: center;
    align-self: center;
    height: 8rem;
    background-color: blanchedalmond;
    border-radius: 5rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    border-style: double;
    border-color: $color-orange;

    &-text {
      color: #ef4933;
      font-size: 2.5rem;
      margin-top: 2rem;
      font-weight: 500;
    }

  }
}

.count {
  text-align: center;
  font-size: 4rem;
}

.answer {
  text-align: center;
  margin: 2rem;
  color: blanchedalmond;

  &-title {
    margin: 3rem;
  }
}

.button {
  text-align: center;
  border-radius: 5rem;
  height: 5rem;
  width: min(15rem);
  margin-bottom: 2rem;
  //background-color: blanchedalmond;
  color: #b42d1e;
  font-family: inherit;
  font-size: 2rem;
  outline: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
  cursor: pointer;

  &:focus {
    transform: translateY(2.5%);
  }

}

.score {
  justify-self : center;
  text-align: center;
  background-color: #b42d1e;
  color: blanchedalmond;
  border-radius: 5rem;
  height: 10rem;
  width: 50%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
  border-color: blanchedalmond;
  border-style: double;

  &-title {
    margin-top: 3.5rem;
  }

  &-number {
    font-size: 2.5rem;
  }
}

.title {
  text-align: center;
  display: grid;
  font-size: 2rem;
  color: darkslategrey;
  grid-template-columns: 2fr;
  text-shadow: .5rem 1rem 2rem rgba(black, .2);

  &-icon {
    color: darkslategrey;
    font-size: 2.5rem;
    margin: 1rem;
  }
}

.icon-choice {
  color: blanchedalmond;
  font-size: 2rem;
  margin: 1rem;
}


