.home-icon {
   text-align: left;
   color: blanchedalmond;
   font-size: 3rem;
   cursor: pointer;

   &:hover {
      color: darkslategrey;
   }
}
.quiz {
   display: grid;
   margin: 3rem;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   text-align: center;

   &-title {
      color: blanchedalmond;
      margin: 2rem;
   }

   &-ask {
      height: 15rem;
      background-color: blanchedalmond;
      border-radius: 5rem;
      box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
      border-style: double;
      border-color: $color-orange;

      &-text {
         color: #ef4933;
         font-size: 3rem;
         margin-top: 5rem;
         margin-left: 1rem;
         margin-right: 1rem;
         font-weight: 500;
      }

   }
}

.count {
   font-size: 4rem;
}

.answer {
   margin: 3rem;
   color: blanchedalmond;

   &-title {
      margin: 3rem;
   }
}

.button {
   border-radius: 5rem;
   height: 5rem;
   width: min(15rem);
   margin-bottom: 2rem;
   background-color: blanchedalmond;
   color: #b42d1e;
   font-family: inherit;
   font-size: 2rem;
   outline: none;
   box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
   cursor: pointer;

   &:focus {
      transform: translateY(2.5%);
   }

}

.score {
   background-color: #b42d1e;
   color: blanchedalmond;
   border-radius: 5rem;
   height: 10rem;
   box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
   border-color: blanchedalmond;
   border-style: double;

   &-title {
     margin-top: 3.5rem;
   }
}

.title {
   display: grid;
   color: darkslategrey;
   grid-template-columns: 2fr;

   &-icon {
      color: darkslategrey;
      font-size: 2.5rem;
      margin: 1rem;
   }
}

.icon-choice {
   color: blanchedalmond;
   font-size: 2rem;
   margin: 1rem;
}

