.header {
  margin: 0;
  grid-template-columns: repeat(2, 1fr);

  &-backhome {
    grid-column-start: 1/2;
    margin-top: 6vh;
    margin-left: 3vh;
    text-align: left;
    color: white;
    border-color: blanchedalmond;
    background-color: darkslategrey;
    border-radius: 50%;
    padding: 2rem;
    font-size: 3rem;

    &:hover {
      color: darkslategrey;
      background-color: white;
      cursor: pointer;
    }
  }

  &-timer {
    text-align: right;
    font-family: "Gill Sans", Monaco, monospace;
    padding: 1rem 1rem 1rem 2rem;
    letter-spacing: 5px;
    margin-bottom: 3rem;
    font-size: 2rem;
    background-image: linear-gradient(to left, black, darkslategray 10%);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    text-shadow: .5rem 1rem 2rem rgba(black, .2);

    &:hover {
      transform: translateX(-1.5rem) scale(1.03);
    }
  }
}

.quiz {
  height: 100vh;
  background-image: url("/pictures/coffee-code.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;

  &-title {
    text-align: center;
    color: blanchedalmond;
    margin: 2rem;
  }

  &-ask {
    border-radius: 2rem;
    display: grid;
    background-color: transparentize(black, 0.6);
    margin: 0 10vh 3vh 10vh;
    padding: 1vh;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    text-align: center;
    align-content: center;
    color: $color-blue;
    font-size: 2.5rem;
  }
}

.answer {
  text-align: center;
  margin: 2rem;
  grid-template-columns: repeat(3, 1fr);

  &-button {
    text-align: center;
    font-weight: lighter;
    border-radius: 2rem;
    background-color: white;
    width: 20vw;
    margin: 3vh 8vh 3vh 8vh;
    padding: 4vh;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    font-size: 2.3rem;
    outline: none;
    cursor: pointer;

    &:focus {
      transform: translateY(2.5%);
    }
  }
}

.score {
  justify-self: center;
  text-align: center;
  background-color: transparentize(black, 0.6);
  color: $color-blue;
  border-radius: 5rem;
  width: 30%;
  height: 30%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
  padding: 1rem;
  margin: 2.5rem;

  &-number {
    font-size: 2.5rem;
  }
}

.icon-choice {
  color: blanchedalmond;
  font-size: 2rem;
  margin: 1rem;
}


