.endgame {
  display: grid;
  justify-items: center;

  &-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 15px;
    text-shadow: .5rem 1rem 2rem rgba(black, .2);
    padding: 10rem;
  }

  &-backhome {
    grid-column-start: 1/2;
    text-align: left;
    color: white;
    border-color: darkslategrey;
    background-color: darkslategrey;
    border-radius: 5rem;
    font-size: 3rem;
    padding: 2rem;
    margin: 2rem;

    &:hover {
      background-color: white;
      color: darkslategrey;
      cursor: pointer;
    }
  }
  &-score {
    align-items: center;
    color: darkslategrey;
    border-radius: 2rem;
    padding: 8rem 20rem;
    text-align: center;
    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);

    &-announce {
      font-size: 3rem;
      font-weight: lighter;
      margin-bottom: 3rem;
    }
    &-count {
      background-color: darkslategrey;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 3rem;
      color:$color-blue;
    }

    &-total {
      font-size: 3.2rem;
    }

    position: relative;
    &-whatsapp {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 2rem;
      color: darkslategrey;
      font-size: 5rem;
    }
  }


}

.share {
  text-align: center;
  padding: 10rem;

  &-call {
    background-image: linear-gradient(to left, black, darkslategray 40%);
    outline: none;
    transition: all .2s;
    text-shadow: .5rem 1rem 2rem rgba(black, .2);
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    color: transparent;

    &:hover {
      transform: skewY(2deg) skewX(5deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba(black, .2);
    }
  }
}
