.endgame {
  border-radius: 5rem;
  background-color: blanchedalmond;
  margin: 3rem;
  padding: 3rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
  text-align: center;
  z-index: 1;
  color: #ef4933;

  &-icon {
    text-align: center;
    margin: 3rem;
    color: blanchedalmond;
    font-size: 4rem;

    &:hover {
      color: darkslategrey;
    }
  }

  &-score {
    margin: 2rem;
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }

  &-count {
    background-color: darkslategrey;
    font-size: 5rem;
    color: blanchedalmond;
  }

  &-total {
    font-size: 3.2rem;
    color: #ef4933;
  }
}

.share {
  text-align: center;
  margin-bottom: 4rem;

  &-call {
    outline: none;
    transition: all .2s;
    text-shadow: .5rem 1rem 2rem rgba(black, .2);
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 3rem;
    font-size: 3rem;
    background-image: linear-gradient(to right, brown, darkslategray);
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(black, .2);
  }
}

.smiley {
  text-align: center;
  margin: 2rem;
  color: darkslategrey;
  font-size: 4rem;
}

.whatsapp {
  text-align: center;
  margin: 2rem;
  color: blanchedalmond;
  font-size: 5rem;
  text-shadow: .5rem 1rem 2rem rgba(black, .2);
}