.home {
  border-radius: 5rem;
  background-color: blanchedalmond;
  margin: 3rem;
  padding: 3rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
  color: #f8f7ff;
  text-align: center;
  z-index: 1;

  &-welcome {
    color: darkslategray;
    padding: 3rem;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
    border-bottom: 2px dotted darkslategrey;
  }

  &-container {
    color: darkslategray;
    border-radius: 5rem;
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 12rem;
    column-gap: 3rem;
    z-index: 10;
    font-size: 2rem;

    &-column1 {
      grid-column: 1/2;
      text-align: left;
    }

    &-column2 {
      grid-column: 2/-1;
    }
  }

  &-rules {
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    background-image: linear-gradient(rgba(darkslategray, 0.6), rgba(darkslategray, 0.4));
    width: 70%;

    &:hover {
      transform: translateX(-1.5rem) scale(1.03);
    }

    &-list {
      margin-bottom: 1.5rem;
    }
  }

  &-button {
    text-align: center;
    text-decoration: none;
    border-radius: 5rem;
    height: 10rem;
    width: 30rem;
    margin: 5rem;
    background-color: darkslategrey;
    color: blanchedalmond;
    font-family: inherit;
    font-size: 3rem;
    outline: none;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    cursor: pointer;

    &:focus {
      transform: translateY(2.5%);
    }

    a:link, a:visited, a:active {
      text-decoration: none;
      color: blanchedalmond;
    }

    a:hover {
      transform: translateY(2.5%);
    }
  }
}

.computer {
  color: #ef4933;
  font-size: 5rem;
  padding: 3rem;
}

.arrow {
  color: darkslategray;
  font-size: 5rem;
}
